body {
    min-height: 100vh;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: cyan;
}

.brands-container{
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;

    a:visited {
        color: cyan;
    }

    a{
        color: cyan;
        text-decoration: none;
    }
}

.logo{
    margin-top: 50px;
    margin-left: 12px;
    text-align: center;
}

.logo img {
    border-radius: 50%;
    width: 104px;
}

@media (max-width: 875px) {

     body{
        display: flex;
        flex-direction: column;
     }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap ;
        margin-top: 50px;
    
    }

}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    margin-top: 50px;
    padding: 0 24px;
    gap: 12px;
}

.button {
    background-color: cyan;
    padding: 15px 32px;
    margin: 24px auto;
    border: none;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    display: flex;
}

.preview { 
    display: none; 
    position: absolute; 
    width: 300px; 
    z-index: 10000;

    img{
        width: 100%;
        }
} 

.button:hover {
    background-color: rgba(0, 255, 255, 0.67);
}

.ico{
    width: 24px;
    margin: 0 12px 0 0;
}

p{
    text-shadow: 0 0 5px #e500ff, 0 0 10px #e500ff, 0 0 15px #e500ff, 0 0 20px #e500ff, 0 0 25px #e500ff, 0 0 30px #e500ff, 0 0 35px #e500ff;


}

a:active{
    color:rebeccapurple
}